---
export interface SponsorSectionProps {
  title: string;
}

const props = Astro.props as SponsorSectionProps;

const {
  title,
} = props;
---
<section class="w-full flex flex-col items-center mt-20 px-5">
    <h2 class="text-3xl md:text-4xl font-semibold text-white" data-i18n="sponsor.title">
        {title}
    </h2>

    <div class="relative w-full max-w-6xl mt-8 flex items-center">

        <!-- Wrapper -->
        <div id="carouselWrapper"
            class="w-full overflow-hidden bg-white rounded-2xl shadow-xl p-6">

            <div id="img-sponsors"
                class="flex items-center gap-10 md:gap-20 overflow-x-auto scroll-smooth snap-x snap-mandatory no-scrollbar cursor-grab active:cursor-grabbing">

                <!-- Imágenes -->
                <img src="/img/sponsors/France-Visas.png" class="h-10 md:h-14 w-auto shrink-0 snap-center transition-transform duration-300 hover:scale-110" />
                <img src="/img/sponsors/Abeona.jpg" class="h-10 md:h-14 w-auto shrink-0 snap-center transition-transform duration-300 hover:scale-110" />
                <img src="/img/sponsors/Ofii-logo.jpg" class="h-10 md:h-14 w-auto shrink-0 snap-center transition-transform duration-300 hover:scale-110" />
                <img src="/img/sponsors/Administra-vie.webp" class="h-10 md:h-14 w-auto shrink-0 snap-center transition-transform duration-300 hover:scale-110" />
                <img src="/img/sponsors/eu-comission.svg" class="h-10 md:h-14 w-auto shrink-0 snap-center transition-transform duration-300 hover:scale-110" />
                <img src="/img/sponsors/GB.png" class="h-10 md:h-14 w-auto shrink-0 snap-center transition-transform duration-300 hover:scale-110" />

            </div>
        </div>
    </div>

</section>

<script>

</script>

